<router-outlet></router-outlet>

<div class="btnlogo">
  <button class="logout" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" id="logout">Logout</button>
</div>


<div class="container" id="container">
  <div class="test">
  <div class="viewlabel">
    <label for="view">Already have a policy? Click below to view you policy</label>
  </div>
  <div class="btnview">
    <button class="viewb" routerLink="/viewpolicy" routerLinkActive="active" ariaCurrentWhenActive="page" id="viewb">view policy</button>
  </div>
  <div class="buylabel">
    <label for="buy">Don't have a policy? Click below to buy a policy</label>
  </div>
  <div class="btnbuy">
    <button class="buyb" routerLink="/buypolicy" routerLinkActive="active" ariaCurrentWhenActive="page" id="buyb">buy policy</button>
  </div>
  <div class="claimlabel">
    <label for="claim">Claim Insurance</label>
  </div>
  <div class="btnclaim">
    <button class="claimb" routerLink="/claim" routerLinkActive="active" ariaCurrentWhenActive="page" id="claimb">Claim</button>
  </div>
  <div class="vclaimlabel">
    <label for="vclaim">View Your Claim</label>
  </div>
  <div class="btnvclaim">
    <button class="vclaimb" routerLink="/viewclaims" routerLinkActive="active" ariaCurrentWhenActive="page" id="vclaimb">View Claims</button>
  </div>
</div>
</div>
