<router-outlet></router-outlet>

<div class="btnlogo">
  <button class="logout" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" id="logout">Logout</button>
</div>


<div class="container" id="container">
  <div class="buttons" id="buttons">

    <button class="cust" routerLink="/agentviewpolicy" routerLinkActive="active" ariaCurrentWhenActive="page" id="policy">View Users</button>
      <br> <br>
      <button class="claims" routerLink="/agentviewclaims" routerLinkActive="active" ariaCurrentWhenActive="page" id="claims">View Claims</button>
      <br> <br>

  </div>
</div>
